#banner{
    position: absolute;
    left: 0vw;
    width: 500vw;
    height: 22vw;
    margin: 1.5vw 0;
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease-in-out;
}

#banner div{
    width: 90vw;
    height: 22vw;
    margin: 0 5vw;
}

#banner1{
    background-color: blue;
}

#banner2{
    background-color: white;
}

#banner3{
    background-color: brown;
}

#banner4{
    background-color: violet;
}

#banner5{
    background-color: green;
}

#btns{
    width: 100vw;
    height: 2vw;
    position: absolute;
    top: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#btns div{
    width: 1.0vw;
    height: 1.0vw;
    border-radius: 100vw;
    margin: 0 0.2vw;
    background-color: black;
    transition: all 0.2s ease-in-out;
    
}