footer{
    width: 100vw;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: right; /* direção dos elementos filhos */
}
footer button{
    border: 0;
    background-color: transparent;
    padding: 0;
}
footer i{
    font-size: 2vw;
    color: white;
    margin: 0.1vw;
}

@media (max-width: 425px){
}
footer{
    justify-content: center;
}