/*Configuração das divisoes do cabeçalho*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1vw;
}

#btn_home,
#btn_formacao,
#btn_projetos {
    font-family: 'fontP';
}

/*Configuração da logo*/
#logo_imagem {
    width: 5.5vw;
    height: 5.5vw;
    background-color: #F5f4f4;
    border-radius: 50vw;
    margin: 1.5vw 0.75vw;
    box-shadow: 0.1vw 0.2vw 0.3vw rgba(35, 35, 35, 0.5)
}

/*Configuração dos botões*/
.btn {
    width: 12vw;
    height: 3vw;
    border: none;
    border-radius: 20vw;
    padding: 0;
    margin: 0 0.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0.1vw 0.2vw 0.3vw rgba(35, 35, 35, 0.5);
}

.btn h4,
.btn i {
    font-size: 1.2vw;
    margin-left: 1vw;
    color: #000000;
}

#btn_home {
    background-color: #f14598;
}

#btn_formacao {
    background-color: #26b2da;
}

#btn_projetos {
    background-color: #f2ba57;
}

@media (max-width: 425px) {

    /*Telas menores do que 425px rodam esse codigo*/
    #btns_header {
        display: flex;
        flex-direction: column;
    }

    .btn {
        width: 10vw;
        height: 10vw;
        margin: 1vw;
        justify-content: center;
    }

    .btn h4 {
        display: none;
    }

    .btn i {
        font-size: 5vw;
        margin: 0;
    }

    #logo_imagem {
        display: none;
    }

    #proficao {
        font-size: 7vw;
        text-align: end;
    }

    header {
        align-items: flex-start;
        flex-direction: row-reverse;
    }
}