#cards_projetos{
    width: 100vw;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 19vw 19vw 19vw;
    grid-template-rows: 12vw 12vw 12vw;
    grid-gap: 1vw;
}
.card{
    width: 20vw;
    height: 10vw;
    background-color: red;
    margin-top: 25vw;
}